$red: #eddfdf;
$green: #e4ede0;
$blue: #dfe7ed;
$red-alt: darken($red, 15%);
$green-alt: darken($green, 15%);
$blue-alt: darken($blue, 15%);

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #f2f2f2;
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}
input, button, select {
  padding: 1.3rem;
}
h1 {
  font-weight: 300;
  font-size: 2.4rem;
}
h2 {
  font-weight: 300;
  font-size: 1.6rem;
}

@import 'partials/titlebar';
@import 'partials/wrapper';
@import 'partials/item';
@import 'partials/button';
@import 'partials/form';
@import 'partials/player';
